* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: rgb(37, 37, 37);
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}
.menu{
    background: #000000;
    list-style: none;
    padding: 0px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.menu li a:hover{
    background: #4d4a49;
}
.conteiner{

    list-style: none;
    padding: 0px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
	width: 1000px;
	
	padding: 20px;
	background: #fff;
	border-radius:6px 6px 0 0;
}

.mate td input[type="text"],
.mate td input[type="email"],
.mate td input[type="number"],
.mate td input[type="password"] {
	display: block;
	width: 90%;
	margin-bottom: 20px;
	padding: 15px 10px;
	border:none;
	border-bottom: 2px solid #ccc;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}
.form .btn {
	width: 50%;
	text-align: center;
	background: #246eb9;
	color: #fff;
	border: none;
	display: block;
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 0 0 6px 6px;
	font-family: "Slabo 27px", serif;
	font-size: 18px;
  }
  .content-select select{
	display: inline-block;
	width: 90%;
	cursor: pointer;
	border: 0.5px solid #18191a;;
	/*border-color: #226fc1;*/
	background:white;
	color:#000000;
	font-size: 1em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 10px;
}
  .form .btn:hover {
	background: #4357ad;
  }